.fnt-family{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.disply{
    display: flex;
}
.width{
    width: 50%;
}
#color{
    color: chocolate;
}
.border{
    border-left: 2px solid orange;
}
#style{
    background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
} 
#pic style{
    height: 200px;
    width: 100px;
}
#spancolor{
    color: wheat;
}
.widthside{
    height: 300px;
    width: 500px;
    padding: 5px;
    border: 2px solid papayawhip;
    margin: 6px;
    text-align: center;
}
#agline{
    text-align: center;
}
.sizeing{
    size: 100px;
}
#a back groundcolor{
    background-color: lightblue;
}
.imgfxt {
    height: 100px;
    width: 60px;
}
#center{
    text-align: center;
}
#aboxcolor{
    background-color: seashell;
}
#bboxcolor{
    background-color: cornsilk;
}
#cboxcolor{
    background-color: darksalmon;
}
#bbox{
    height: 300px;
    width: 500px;
    padding: 5px;
    border: 1px solid papayawhip;
    margin: 30px;
    text-align: center;
    background-color: rosybrown;
}
#cpic{
    height: 500px;
    width:400px ;
    
}

